<% if !user_signed_in? %>
	<div class="jumbotron">
		<h1>Sign up to start reviewing movies!</h1>
		<p>Lorem Ipsum bacon etc. etc.</p>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
			<%= link_to "Log In", new_user_session_path, class: "btn btn-primary btn-lg" %>
			
		</p>

	</div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail" movieId = <%=movie.id%> >
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
         	<div class="row">
         		<div class = "col-sm-12">
         			<%=movie.title%>
         		</div>
         	</div>
         	<div class="row">
         		<div class="col-sm-12">
         			 <div class="star-rating" data-score=<%= movie.avg_rating %> ></div>
         		</div>
         	</div>
      </div>
    </div>
  <% end %>
</div>

<script>

   	

  $('.star-rating').raty({
    path: '/assets/',
    readOnly:true,
    score: function(){
      return($(this).attr('data-score'));
    }
  })
  	//reloads star-rating and stops duplication of stars.
    $('.star-rating').raty('reload');

</script>

<script>
	$("div[movieId]").on('mouseover',function(){$(this).addClass("hovering")});
	$("div[movieId]").on('mouseout',function(){$(this).removeClass("hovering")});
</script>